<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h2 class="display-4">Bem-vindo(a)! </h2>
      <hr>
    <p class="lead">Entre ou cadastre-se para catalogar as referências bibliográficas de sua publicação</p>

  </div>
</div>

<%- include('partials/footer') %>
