<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron">
    <h1 >Nova Citação  </h1>

    <form action="/submit" method="POST" autocomplete="off">

      <div class="form-group">
        <label for="name">Nome da citação:</label>
        <input type="text" class="form-control text-left col-lg-6" name="name" required>
        <label for="author">Autor:</label>
        <input type="text" class="form-control text-left col-lg-6" name="author" required>
        <label for="publication">Publicação:</label>
        <input type="text" class="form-control text-left col-lg-6" name="publication" required>
        <label for="edition">Edição</label>
        <input type="text" class="form-control text-left col-lg-6" name="edition" required>
        <label for="location">Local de Publicação:</label>
        <input type="text" class="form-control text-left col-lg-6" name="location" required>
        <label for="publisher">Editora:</label>
        <input type="text" class="form-control text-left col-lg-6" name="publisher" required>
        <label for="year">Ano:</label>
        <input type="number" class="form-control text-left col-lg-6" name="year" required>
        <label for="subject">Assunto:</label>
        <input type="text" class="form-control text-left col-lg-6" name="subject" required>
        <label for="content">Trecho:</label>
        <textarea rows=5 type="text" class="form-control text-left col-lg-6" name="content"required></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Enviar</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
