<%- include('partials/header') %>

<div class="jumbotron text-left">
  <div class="container">
    <h2><%= message %></h2>
    <br>
    <a class="btn btn-dark btn-lg" href="/entries" role="button">Minhas citações</a>
  </div>
</div>

<%- include('partials/footer') %>
