
body {
  background-color: #E8ECEF;
  height:100%
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

input, textarea{
  margin-bottom: 10px
}
